<div class="list-group-item text-nowrap {{menu.css}}" ng-style="getMenuItemStyle(menu)" id="{{menu.f_id}}" ng-click="openMenu(menu)">
    <!-- 菜单项图标 -->
    <span class="glyphicon glyphicon-{{menu.f_icon || (menu.f_type === 1 ? 'th-list' : 'file')}}"></span>
    <!-- 菜单项名称 -->
    {{menu.f_menu_name}}
    <!-- 展开/收缩图标 -->
    <span class="glyphicon {{(menu.f_type === 1 && menu.children.length > 0) ? (menu.isOpen ? 'glyphicon-triangle-top' : 'glyphicon-triangle-bottom') : ''}}"></span>
</div>
<div ng-if="menu.f_type === 1 && menu.children.length > 0">
    <div class="list-group" ng-if="menu.isOpen">
        <!-- 子菜单 -->
        <div class="list-sub-group" ng-repeat="menu in menu.children" ng-include="'template/menu.html'"></div>
    </div>
</div>