<div class="jumbotron">
    <div style="float: right; margin: 100px 10px; padding: 10px; border: 1px solid gray; border-radius: 4px;">
        <form role="form" ng-submit="login(credentials)" style="width: 400px;">
            <div style="text-align: center;">
                <div class="alert alert-danger" style="margin-top: -72px;" ng-show="error">There was a problem logging in. Please try again.</div>
            </div>
            <div style="text-align: left;">
                <div class="form-group">
                    <label for="username">用户名：</label> <input type="text" class="form-control" id="username" name="username" ng-model="credentials.username" />
                </div>
                <div class="form-group">
                    <label for="password">密码：</label> <input type="password" class="form-control" id="password" name="password" ng-model="credentials.password" />
                </div>
            </div>
            <div style="text-align: center;">
                <button type="submit" class="btn btn-primary">登录</button>
                <button type="reset" class="btn btn-warning">重置</button>
            </div>
        </form>
    </div>
</div>