<div ng-controller="MenuFormController as formCtrl">
    <form role="form" name="form" class="form-horizontal qw-form" style="transition: all linear 0.5s; background: transparent;">
        <fieldset ng-disabled="formOptions.toolbarItem.id == 'view'">
            <div class="form-group">
                <label class="control-label col-sm-2" for="f_parent_id">父级菜单编码：</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="f_parent_id" name="f_parent_id" ng-model="entity.f_parent_id" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="f_parent_name">父级菜单名称：</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="f_parent_name" name="f_parent_name" ng-model="entity.f_parent_name" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="f_id">菜单编码：</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control {{form.f_id.$error.required ? 'has-error' : ''}}" id="f_id" name="f_id" ng-model="entity.f_id" required placeholder="编码必须唯一" tooltip-placement="bottom-right" tooltip-trigger="none" tooltip-is-open="form.f_id.$error.required" uib-tooltip="必填字段，不能为空！">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="f_menu_name">菜单名称：</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="f_menu_name" name="f_menu_name" ng-model="entity.f_menu_name" required placeholder="" tooltip-placement="bottom-right" tooltip-trigger="none" tooltip-is-open="form.f_menu_name.$error.required" uib-tooltip="必填字段，不能为空！">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="f_menu_remark">菜单描述：</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="f_menu_remark" name="f_menu_remark" ng-model="entity.f_menu_remark" required placeholder="" tooltip-placement="bottom-right" tooltip-trigger="none" tooltip-is-open="form.f_menu_remark.$error.required" uib-tooltip="必填字段，不能为空！">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="f_order">排序：</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="f_order" name="f_order" ng-model="entity.f_order" required tooltip-placement="bottom-right" tooltip-trigger="none" tooltip-is-open="form.f_order.$error.required" uib-tooltip="必填字段，不能为空！">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="f_type">类型：</label>
                <div class="col-sm-10">
                    <select class="form-control" id="f_type" name="f_type" ng-model="entity.f_type" ng-options="option.value as option.label for option in $qw.dict.dicts.MenuType.selectOptions" required tooltip-placement="bottom" tooltip-trigger="none" tooltip-is-open="form.f_type.$error.required" uib-tooltip="必填字段，不能为空！"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="f_icon">图标：</label>
                <div class="col-sm-10">
                    <select class="form-control" id="f_icon" name="f_icon" ng-model="entity.f_icon" ng-options="option.value as option.label for option in $qw.dict.dicts.ICO.selectOptions"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="f_is_show">启用：</label>
                <div class="col-sm-10">
                    <select class="form-control" id="f_is_show" name="f_is_show" ng-model="entity.f_is_show" ng-options="option.value as option.label for option in $qw.dict.dicts.TrueFalse.selectOptions" required tooltip-placement="bottom" tooltip-trigger="none" tooltip-is-open="form.f_is_show.$error.required" uib-tooltip="必填字段，不能为空！"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="f_url_id">页面路径：</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="f_url_id" name="f_url_id" ng-model="entity.f_url_id">
                </div>
            </div>
        </fieldset>
    </form>
</div>