* {
    margin: 0px;
    padding: 0px;
}

html, body, .main-container {
    height: 100%;
    *overflow: hidden; /* 消除IE7下的横向滚动条 */
    font-size: 14px;
    color: #fff;
    background-color: rgba(117, 29, 138, 1);
}

.header-container, .middle-container, .footer-container {
    width: 100%;
}

.header-container {
    position: absolute;
    top: 0;
}

.footer-container {
    position: absolute;
    bottom: 0;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.middle-container {
    color: #000;
    background-color: #fff;
}

.left-container, .right-container {
    float: left;
    position: absolute;
    top: 0px;
    height: 100%;
}

.left-container {
    color: #fff;
    background-color: rgba(117, 29, 138, 1);
}

.right-container {
    width: 100%;
    overflow-y: auto;
}

.qw-menu-title {
    position: absolute;
    top: 0px;
    padding: 10px 10px 10px 16px;
    font-size: 18px;
    font-weight: bold;
}

.qw-menu-content {
    position: absolute;
    top: 45px;
    bottom: 0px;
    width: 100%;
    height: auto;
    overflow-x: auto;
    overflow-y: auto;
}

.qw-menu-content .list-group, .qw-menu-content .list-sub-group, .qw-menu-content .list-group-item {
    float: left;
}

.qw-menu-content .list-group {
    margin-bottom: 0px;
}

.qw-menu-content .list-sub-group {
    
}

.qw-menu-content .list-group-item {
    font-size: 14px;
    font-weight: bold;
    background-color: rgba(117, 29, 138, 1);
    border-color: rgb(117, 29, 138);
}

.qw-menu-content .list-group-item:hover {
    background-color: rgba(142, 66, 160, 0.5);
    border: 2px solid rgb(117, 29, 138);
}

.qw-menu-content .list-group-item-active {
    background-color: rgba(142, 66, 160, 0.5);
    border-color: rgb(117, 29, 138);
}

.qw-menu-content .list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.qw-menu-content .list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.qw-unselectable {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
}

.view-container {
    height: 100%;
    margin: 0px 0px 0px 170px;
    overflow-x: auto;
    overflow-y: auto;
}
/**********************************************************************************************************************/
/**********************************************************************************************************************/
/**********************************************************************************************************************/
/**********************************************************************************************************************/
/**********************************************************************************************************************/
/*下面是修改的js库的CSS*/
.container {
    /*border: 1px solid #ccc;*/
    margin: 0px;
    padding: 15px;
}

.jumbotron {
    /*border: 1px solid #ccc;*/
    background-color: #fff;
    margin: 0px;
    padding: 15px;
}

.qw-grid {
    margin-bottom: 0px;
}

.qw-grid-heading {
    height: 30px;
    line-height: 30px;
    margin: 0px;
    padding: 0px 30px;
    font-weight: bold;
    font-size: 18px;
}

.qw-grid-toolbar {
    padding: 2px;
    border-bottom: 1px solid #ccc;
}

.qw-grid-body {
    border: none;
}

.qw-grid-error-msg {
    position: absolute;
    top: 60px;
    width: 100%;
    padding: 10px 30px 10px 10px;
}

.qw-grid-cell-img {
    position: absolute;
    top: 3px;
    width: 24px;
    height: 24px;
}

.btn-group {
    padding: 0px 2px;
}

.modal-content {
    background-color: #f5f5f5;
}

.modal-title {
    font-weight: bold;
    font-size: 18px;
}

.modal-body {
    background-color: #fff;
}

.ui-grid-filter-container input, .ui-grid-filter-container select {
    border: 1px solid #d4d4d4;
    height: 22px;
    line-height: 22px;
}