<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quickwebapp.usm.sys.mapper.DictItemMapper">
    <sql id="Insert_Clause">
        INSERT INTO t_sys_dict_item(
        f_code,
        f_item_code,
        f_item_text,
        f_item_order,
        f_tenant_cid,
        f_tenant_bid
        )
        VALUES
    </sql>
    <sql id="Insert_Value_Clause">
        (
        #{f_code},
        #{f_item_code},
        #{f_item_text},
        #{f_item_order},
        #{f_tenant_cid},
        #{f_tenant_bid}
        )
    </sql>
    <sql id="Insert_Values_Clause">
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.f_code},
            #{item.f_item_code},
            #{item.f_item_text},
            #{item.f_item_order},
            #{item.f_tenant_cid},
            #{item.f_tenant_bid}
            )
        </foreach>
    </sql>

    <sql id="Select_Clause">
        SELECT
        t.f_id,
        t.f_code,
        t.f_item_code,
        t.f_item_text,
        t.f_item_order,
        t.f_tenant_cid,
        t.f_tenant_bid
    </sql>
    <sql id="From_Clause">
        FROM t_sys_dict_item t
    </sql>
    <sql id="Where_Clause">
        WHERE 1=1
        <if test="f_tenant_cid != null">AND t.f_tenant_cid = #{f_tenant_cid}</if>
        <if test="f_tenant_bid != null">AND t.f_tenant_bid = #{f_tenant_bid}</if>
        <if test="f_code != null">AND t.f_code = #{f_code}</if>
        <if test="f_item_code != null">AND t.f_item_code = #{f_item_code}</if>
    </sql>


    <!-- select -->
    <select id="selectEntity" parameterType="java.lang.Integer" resultType="com.quickwebapp.usm.sys.entity.DictItemEntity">
        <include refid="Select_Clause" />
        <include refid="From_Clause" />
        WHERE t.f_id = #{f_id}
    </select>
    <select id="selectEntityListPage" parameterType="com.quickwebapp.framework.core.entity.MapEntity" resultType="com.quickwebapp.usm.sys.entity.DictItemEntity">
        <include refid="Select_Clause" />
        <include refid="From_Clause" />
        <include refid="Where_Clause" />
    </select>
    <select id="selectMapEntityListPage" parameterType="com.quickwebapp.framework.core.entity.MapEntity" resultType="com.quickwebapp.framework.core.entity.MapEntity">
        <include refid="Select_Clause" />
        <include refid="From_Clause" />
        <include refid="Where_Clause" />
    </select>

    <!-- insert -->
    <insert id="insertEntity" parameterType="com.quickwebapp.usm.sys.entity.DictItemEntity">
        <selectKey resultType="java.lang.Integer" keyProperty="f_id" order="AFTER">
            SELECT @@IDENTITY
        </selectKey>
        <include refid="Insert_Clause" />
        <include refid="Insert_Value_Clause" />
    </insert>
    <insert id="insertEntities" parameterType="java.util.ArrayList">
        <include refid="Insert_Clause" />
        <include refid="Insert_Values_Clause" />
    </insert>

    <!-- update -->
    <update id="updateEntity" parameterType="com.quickwebapp.usm.sys.entity.DictItemEntity">
        UPDATE t_sys_dict_item SET
        <if test="f_item_code != null">f_item_code=#{f_item_code},</if>
        <if test="f_item_text != null">f_item_text=#{f_item_text},</if>
        <if test="f_item_order != null">f_item_order=#{f_item_order},</if>
        <if test="f_tenant_cid != null">f_tenant_cid=#{f_tenant_cid},</if>
        <if test="f_tenant_bid != null">f_tenant_bid=#{f_tenant_bid},</if>
        f_id=#{f_id}
        WHERE f_id=#{f_id}
    </update>

    <!-- delete -->
    <select id="isCanDeleteEntity" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT 0 FROM DUAL
    </select>
    <delete id="deleteEntity" parameterType="java.lang.Integer">
        DELETE FROM t_sys_dict_item WHERE f_id=#{f_id}
    </delete>
    <delete id="deleteEntities" parameterType="com.quickwebapp.framework.core.entity.MapEntity">
        DELETE FROM t_sys_dict_item WHERE 1=1
        <if test="f_code != null and f_code !=''">AND f_code = #{f_code}</if>
        <if test="f_tenant_cid != null">AND f_tenant_cid = #{f_tenant_cid}</if>
        <if test="f_tenant_bid != null">AND f_tenant_bid = #{f_tenant_bid}</if>
    </delete>

    <!-- 其他SQL -->
</mapper>