<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quickwebapp.usm.sys.mapper.MenuUrlMapper">
    <sql id="Insert_Clause">
        INSERT INTO t_sys_menu_url(
        f_menu_id,
        f_url_id
        )
        VALUES
    </sql>
    <sql id="Insert_Value_Clause">
        (
        #{f_menu_id},
        #{f_url_id}
        )
    </sql>
    <sql id="Insert_Values_Clause">
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.f_menu_id},
            #{item.f_url_id}
            )
        </foreach>
    </sql>

    <sql id="Select_Clause">
        SELECT
        t.f_menu_id,
        t.f_url_id,
        u.*
    </sql>
    <sql id="From_Clause">
        FROM t_sys_menu_url t
        LEFT JOIN t_sys_url u ON u.f_id = t.f_url_id
    </sql>
    <sql id="Where_Clause">
        WHERE 1=1
        <if test="f_menu_id != null and f_menu_id != ''">AND t.f_menu_id = #{f_menu_id}</if>
    </sql>


    <!-- select -->
    <select id="selectEntity" parameterType="java.lang.Integer" resultType="com.quickwebapp.framework.core.entity.MapEntity">
        <include refid="Select_Clause" />
        <include refid="From_Clause" />
        WHERE t.f_id = #{f_id}
    </select>
    <select id="selectEntityListPage" parameterType="com.quickwebapp.framework.core.entity.MapEntity" resultType="com.quickwebapp.framework.core.entity.MapEntity">
        <include refid="Select_Clause" />
        <include refid="From_Clause" />
        <include refid="Where_Clause" />
    </select>
    <select id="selectMapEntityListPage" parameterType="com.quickwebapp.framework.core.entity.MapEntity" resultType="com.quickwebapp.framework.core.entity.MapEntity">
        <include refid="Select_Clause" />
        <include refid="From_Clause" />
        LEFT JOIN t_sys_menu m ON m.f_id = t.f_menu_id
        <include refid="Where_Clause" />
        <if test="f_is_show != null and f_is_show != ''">AND m.f_is_show = #{f_is_show}</if>
    </select>

    <!-- insert -->
    <insert id="insertEntity" parameterType="com.quickwebapp.framework.core.entity.MapEntity">
        <selectKey resultType="java.lang.Integer" keyProperty="f_id" order="AFTER">
            SELECT @@IDENTITY
        </selectKey>
        <include refid="Insert_Clause" />
        <include refid="Insert_Value_Clause" />
    </insert>
    <insert id="insertEntities" parameterType="java.util.ArrayList">
        <include refid="Insert_Clause" />
        <include refid="Insert_Values_Clause" />
    </insert>

    <!-- update -->
    <update id="updateEntity" parameterType="com.quickwebapp.framework.core.entity.MapEntity">
        UPDATE t_sys_menu_url SET
        <if test="f_menu_id != null">f_menu_id=#{f_menu_id},</if>
        <if test="f_url_id != null">f_url_id=#{f_url_id},</if>
        f_id=#{f_id}
        WHERE f_id=#{f_id}
    </update>

    <!-- delete -->
    <select id="isCanDeleteEntity" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT 0 FROM DUAL
    </select>
    <delete id="deleteEntity" parameterType="java.lang.Integer">
        DELETE FROM t_sys_menu_url WHERE f_id=#{f_id}
    </delete>
    <delete id="deleteEntities" parameterType="com.quickwebapp.framework.core.entity.MapEntity">
        DELETE FROM t_sys_menu_url WHERE 1=1
        <if test="f_menu_id != null and f_menu_id != ''">AND f_menu_id = #{f_menu_id}</if>
        <if test="f_url_id != null and f_url_id != ''">AND f_url_id = #{f_url_id}</if>
    </delete>

    <!-- 其他SQL -->
</mapper>