<div>
    <div class="alert {{formOptions.alertOptions.css ? ('alert-'+formOptions.alertOptions.css) : ''}}" style="margin-bottom: 0px;">
        <table>
            <tr>
                <td class="" style="height: 40px; line-height: 40px; font-size: 40px; font-weight: bold;">
                    <div ng-switch="formOptions.alertOptions.type">
                        <span ng-switch-when="success" class="glyphicon glyphicon-ok-sign"></span>
                        <span ng-switch-when="info" class="glyphicon glyphicon-info-sign"></span>
                        <span ng-switch-when="warning" class="glyphicon glyphicon-exclamation-sign"></span>
                        <span ng-switch-when="danger" class="glyphicon glyphicon-remove-sign"></span>
                        <span ng-switch-when="confirm" class="glyphicon glyphicon-question-sign"></span>
                    </div>
                </td>
                <td class="" style="padding-left: 15px;"><div>{{formOptions.alertOptions.msg}}</div></td>
            </tr>
        </table>
    </div>
</div>